html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #68aa71;
} 

h1 {
    font-size: 2em;
   font-family: 'Josefin Slab', serif;
    margin: 10px;
    color: #68aa71;
}

h2 {
    font-size: 1.2em;
    font-family: 'Lato', sans-serif;
    margin: 10px;
    color: #601848;
}

h3 {
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    color: #601848;
    margin: 10px;
}

p {
    font-family: 'Lato', sans-serif;
    margin: 10px;
    font-size: 14px; 
}

ul li {
    list-style-type: none;
    display: inline;
}


a {
    font-size: 1em;
    color: #68aa71;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}

a:hover {
    text-decoration: underline;
}

hr {
    color: #549388;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

main {
    max-width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*header section*/
header {
    background-color: #ffffff;
    padding: 10px;
    max-width: 800px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.photo img {
    margin: 10px;
    float: left;
    height: 15%;
    width: 15%; 
}

@media (min-width: 950px) {
#logo img {
    display: block;
    width: 20%;
    }
}

ul li img {
    height: 5%;
    width: 5%;
}

@media (max-width: 400px) {
ul li img {
    display: inline;
    width: 15%;
    }
}

/*main content*/ 

article {
    background-color: #ffffff;
    max-width: 800px;
    padding: 10px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

ol li {
    font-size: 14px;
    list-style-type: none;
    padding: 1px;
    padding-right: 1px;
}

/*tab styling*/

.etabs { margin: 0; padding: 0; }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: #68aa71; }
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #68aa71; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container { background: #fff; border: solid #000000; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; align-content: center;}